certifi==2022.6.15
distlib==0.3.5
filelock==3.7.1
MouseInfo==0.1.3
packaging==23.1
Pillow==9.5.0
pipenv==2022.7.24
platformdirs==2.5.2
PyAutoGUI==0.9.53
PyDirectInput==1.0.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytesseract==0.3.10
pytweening==1.0.7
virtualenv==20.16.2
virtualenv-clone==0.5.7
